/* Empty. Add your own CSS if you like */
/* Lindsay CSS */
.my-menu {
  background-color: #ffffff ;
}

.my-menu .list {
  background-color: transparent;
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
  background-color: transparent;
  color: #000;
}
