<ion-view view-title="Sarah">
  <ion-content>
  <div class="row responsive-sm" id="search-div">
    <div class="list" id="searchbar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="">
        </label>
        <button class="button button-small">
          Search
        </button>
      </div>
    </div>
    <div class="row responsive-sm" id="summary">
      <div class="card" id="dash-total">
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Total Donations Received: <strong>{{totalDonations}}</strong></div>
            <div class="col col-50">Number of Women Served Last Year: <strong>{{totalWomenServed}}</strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row responsive-sm" id="dash-row1">
      <div class="card" id="top-searches">
        <div class="item item-text-wrap">
          <h2 style="text-align: center"><strong>Top Searches</strong></h2>
          <ion-list>
            <ion-item ng-repeat="action in actions">
              {{$index + 1}}. {{action.action}}
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="card" id="new-keywords">
        <div class="item item-text-wrap">
          <h2 style="text-align: center"><strong>New Keywords</strong></h2>
          <ion-list>
            <ion-item ng-repeat="keyword in keywords">
              <i class="icon ion-ios-plus-outline"></i>&nbsp;{{keyword}}
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="row responsive-sm" id="db-btn-div">
      <button class="button button-positive" id="db-btn">
        View Database
      </button>
    </div>
    <div class="row responsive-sm" id="dash-row2">
      <div class="card" id="new-descrip">
        <div class="item item-text-wrap">
          <h2 style="text-align: center"><strong>Recently Added Descriptions</strong></h2>
          <ion-list>
            <ion-item ng-repeat="item in items">
              <div class="item item-divider"><strong>{{item.title}}</strong></div>
              <p>{{item.description}}</p>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
