<ion-view view-title="Reply Manager">
  <ion-content>
    <h1>Donations</h1>
    <div class="row responsive-sm">
      <div class="list totals">
        <div class="item">
          <p><strong>Total Donations</strong>
            <br />$14,664</p>
        </div>
        <div class="item">
          <p><strong>Campaign 1</strong>
            <br />2344</p>
        </div>
        <div class="item">
          <p><strong>Campaign 2</strong>
            <br />5434</p>
        </div>
        <div class="item">
          <p><strong>Campaign 3</strong>
            <br />3352</p>
        </div>
        <div class="item">
          <p><strong>Campaign 4</strong>
            <br />3534</p>
        </div>
      </div>
      <div class="card" id="campaign-desc">
        <p><strong>Campaign 1 Description</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
  </ion-content>
</ion-view>
