<ion-view view-title="Reply Manager">
  <ion-content>
    <h1>Donations</h1>

    <div id="donations-container">
  <div id="taskbar">
    <ul>
      <li>
        task1
      </li>
      <li>
        task2
      </li>
      <li>
        task3
      </li>
      <li>
        task4
      </li>
      <li>
        task5
      </li>
      <li>
        task6
      </li>
    </ul>
  </div>
</div>
<div id="commands">
  <ul>
    <li>
      <strong>Command 1</strong>
    </li>
    <li>
      Command 2
    </li>
    <li>
      Command 3
    </li>
    <li>
      Command 4
    </li>
    <li>
      Command 5
    </li>
    <li>
      Command 6
    </li>
    <li>
      Command 7
    </li>
    <li>
      Command 8
    </li>
  </ul>
</div>
<div id="right-contain">
  <div id="command-desc">
  <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</strong></p>
  </div>
  <div id="notes">
    <p>Internal notes</p>
  </div>
  <div id="last-edited">
    <p>Last edited</p>
  </div>
</div>
  </ion-content>
</ion-view>
