<ion-view view-title="Reply Manager">
  <ion-content>
    <h1>Replies</h1>

    <div class="row">
      <div class="col col-33" id="commands">
        <ul>
          <li>
            <strong>Command 1</strong>
          </li>
          <li>
            Command 2
          </li>
          <li>
            Command 3
          </li>
          <li>
            Command 4
          </li>
          <li>
            Command 5
          </li>
          <li>
            Command 6
          </li>
          <li>
            Command 7
          </li>
          <li>
            Command 8
          </li>
        </ul>
      </div>


      <div class="col-50" id="right-contain">
        <div id="command-desc">
          <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</strong></p>
        </div>
        <div id="notes">
          <p>Internal notes</p>
        </div>
        <div id="last-edited">
          <p>Last edited</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
