<ion-view view-title="Reply Manager">
  <ion-content>
    <div class="card">
  <div class="item item-text-wrap" id="reply-manager">
    <h1>Reply Manager</h1>
  </div>
</div>
<div class="row responsive-sm" id="row1-wrap">
  <div class="col" id="commands">
    <ion-list can-swipe="false">
      <!-- href="#/app/playlists/{{playlist.id}}" -->
      <ion-item class="item cmd-item" ng-repeat="command in commands">
        <button class="button-info button-icon ion-edit"  ng-click="edit(command)">
          <strong>{{command.title}}</strong>
        </button>
          <ion-option-button class="button-info button-icon ion-edit"  ng-click="edit(command)">
          </ion-option-button>
    </ion-list>
  </div>

    <div class="card" id="command-desc">
      <span class="desc"><p><strong>{{selectedCommand.title}}</strong></p></span>
      <p>{{selectedCommand.description}}</p>
    <div id="btn-container">
      <button class="button button-small" id="edit-btn">
        Edit
      </button>
    </div>

    </div>
  </div>
  <div class="row responsive-sm" id="row2-wrap">
    <div class="list card" id="internal-notes">
      <div class="item notes">
        <p><strong>Internal Notes</strong>
          <br />{{selectedCommand.notes}}</p>
      </div>
      <div class="item last-edited">
        <p><strong>Last Edited</strong>
          <br />March 24, 2016</p>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
