<ion-view view-title="Reply Manager">
  <ion-content>
    <h1>Reply Manager</h1>

    <p>Here you, as the administrator, can manage the Sarah System.
      Set and edit the responses to texts through Help Responses and
      Donation Responses.  Set up recurring texts to donors through
      the Recurring. </p>

<!--    <div class="list">
   <form action="Script URL" method="GET|POST">
     <label class="item item-input">
       <input type="text" placeholder="Command">
     </label>
     <label class="item item-input">
       <input type="text" placeholder="Response">
     </label>
     <label class="item item-input">
       <textarea placeholder="Comments"></textarea>
     </label>
   </div>
   <button class="button button-full button-balanced" style="background-color: #69b3b7" type="submit">
     Submit
   </button>
 </form>
 <table>
   <tr>
     <td>Keyword</td>
     <td>Response</td>
   </tr>
   <tr>
     <td>Shelter</td>
     <td>Here is an address for the nearest shelter</td>
   </tr>
   <tr>
     <td>Housing</td>
     <td>Here are resources for housing</td>
   </tr>
   <tr>
     <td>Help</td>
     <td>Here are resources to talk to someone immediately</td>
   </tr>
   <tr>
     <td>Emergency</td>
     <td>Here are some emergency numbers and resources</td>
   </tr>

 </table>
 -->
  </ion-content>
</ion-view>
