<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Logout</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogout()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset list-logout">
      <div class="item item-content">
        <!--<div class="logout">-->
        Are you sure you want to log out?
      </div>
        <div class="item item-content">
          <button class="button button-dark" ng-click="doLogout()">Yes</button>
          <button class="button button-outline button-dark" ng-click="closeLogout()">No</button>
        </div>
      </div>

  </ion-content>
</ion-modal-view>
