<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Logout</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogout()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogout()">
      <div class="list">
        <p>Are you sure you want to log out?</p>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Yes</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
