<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <!--<ion-nav-back-button>
    </ion-nav-back-button>-->

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        Menu
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-clear button-icon ion-ios-settings" ng-click="openPopover($event)">
        Options
      </button>
    </ion-nav-buttons>
  </ion-nav-buttons>

</ion-nav-bar>
<ion-nav-view name="menuContent"></ion-nav-view>
</ion-side-menu-content>

<ion-side-menu side="left">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Left</h1>
  </ion-header-bar>
  <ion-content class="my-menu">
    <ion-list class="list">
    <ion-item menu-close href="#/app/dashboard">
      Dashboard
    </ion-item>
    <ion-item nav-clear menu-close href="#/app/profile">
      Sarah's Profile
    </ion-item>
    <ion-item class="item item-divider">
      Replies
    </ion-item>
    <ion-item nav-clear menu-close href="#/app/reply/manager">
      Reply Manager
    </ion-item>
    <ion-item nav-clear menu-close href="#/app/reply/summary">
      Reply Summary
    </ion-item>
    <ion-item nav-clear menu-close href="#/app/reply/history">
      Reply History
    </ion-item>
    <ion-item class="item item-divider">
      Donations
    </ion-item>
    <ion-item nav-clear menu-close href="#/app/donation/manager">
      Donation Manager
    </ion-item>
    <ion-item nav-clear menu-close href="#/app/donation/summary">
      Donation Summary
    </ion-item>
  </ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>
