<ion-popover-view>
  <ion-content>
    <div class="list list-item">

      <div class="item item-content">
        <button class="button button-icon ion-ios-search">&nbsp;Search
        </button>
      </div>
      <div class="item item-content">
        <button class="button button-icon ion-ios-settings">&nbsp;Settings
        </button>
      </div>
      <div class="item item-content">
        <button class="button button-icon ion-power" ng-click="doLogout()">&nbsp;Log out
        </button>
      </div>
  </ion-content>
</ion-modal-view>
