<ion-popover-view>
  <!--<ion-header-bar>
    <h1 class="title">Settings</h1>
  </ion-header-bar>-->
  <ion-content>
    <!--<ion-list>
      <ion-item ng-controller="OptionsCtrl" ng-repeat="option in options">
        Hello {{option.title}}
      </ion-item>
    </ion-list>-->

    <div class="list list-item">

      <div class="item item-content">
        <button class="button button-icon ion-ios-search">&nbsp;Search
        </button>
      </div>
      <div class="item item-content">
        <button class="button button-icon ion-ios-settings">&nbsp;Settings
        </button>
      </div>
      <div class="item item-content">
        <button class="button button-icon ion-power" ng-click="doLogout()">&nbsp;Log out
        </button>
      </div>
  </ion-content>
</ion-modal-view>
