<ion-view view-title="Profile">
  <ion-content>
    <h1>Sarah's Profile</h1>
    <div class="card">
    <label class="item item-input">
      <span class="input-label">First Name</span>
      <input type="text" readonly value="Sarah" />
    </label>
    <label class="item item-input">
      <span class="input-label">Last Name</span>
      <input type="text" readonly value="Sudo">
    </label>
    <label class="item item-input">
      <span class="input-label">Phone</span>
      <input type="text" readonly value="(647)-360-8181" />
    </label>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" readonly value="sarah@bell.ca">
    </label>
    <label class="item item-input">
      <span class="input-label">Street Address</span>
      <input type="text" readonly value="2009 170 fort york bvld" />
    </label>
    <label class="item item-input">
      <span class="input-label">City</span>
      <input type="text" readonly value="Toronto">
    </label>
    <label class="item item-input">
      <span class="input-label">Province</span>
      <input type="text" readonly value="Ontario">
    </label>
    <label class="item item-input">
      <span class="input-label">Country</span>
      <input type="text" readonly value="Canada" />
    </label>
    <label class="item item-input">
      <span class="input-label">Postal Code</span>
      <input type="text" readonly value="M6J3W6">
    </label>
    <label class="item item-content">
      <button class="button button-dark">Download</button>
      <button class="button button-outline button-dark">Edit</button>
    </label>
  </div>
  </ion-content>
</ion-view>
