<ion-view view-title="Reply History">
  <ion-content>

    <ion-refresher pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    
    <div class="history-content" style="margin: 2% 5%">
      <div class="row history-row">
        <div class="col col-20 history-header">Phone Number</div>
        <div class="col col-20 history-header">Timestamp</div>
        <div class="col col-20 history-header">Message Received</div>
        <div class="col history-header">Message Sent</div>
      </div>

      <div class="row history-row" ng-repeat="record in records">
        <div class="col col-20 history-body">{{record.PhoneNumber}}</div>
        <div class="col col-20 history-body">{{record.Timestamp}}</div>
        <div class="col col-20 history-body">{{record.MessageReceived}}</div>
        <div class="col history-body">{{record.MessageSent}}</div>
      </div>
    </div>

  </ion-content>
</ion-view>
